/*This is the css code for the body*/
body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;
}


/*menu bar*/
body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 800px;
  font-size: 90px;
    
    
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.main-menu {
    font-size: 20px;
    
}


/*main menu icon*/

.toggles {
  display: inline-block;
  cursor: pointer;
    text-align:right;
        width: 2.5rem;
    height: 2.5rem;
    padding: .625rem;
    margin-left: .5625rem;
    margin-right: 2rem;
    margin-top: -1rem;
    display: inline-block;
    float:right;
    position:absolute;
    z-index: 999;
    background: #333;
    border-radius: 50%;
    

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
    
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family:sans-serif;
    letter-spacing: 2.5px;
}


/*This is the code for the text fonts and sizes*/


head {
    font-family: 'Open Sans', sans-serif;}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;}

h1 {
    color: maroon;
    font-size: 50px}

h2{ 
    font-size: 50px;
    color: maroon;
}


h3 {
    font-size: 20px}


p {
    font-size: 15px;
    color: white;
}

/*about us intro*/
.img-1, .img-2, .img-3, .img-4, .img-5 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("../Images/rallyposter.jpg");
    min-height: 100%;
}

.img-2 {
    background-image: url("../Images/black%20and%20white%20rally.png");
    min-height: 100%;
}

.img-3 {
    background-image: url("../Images/events.jpg");
    min-height: 100%;
    opacity: 0.65;
}

.img-4 {
   background-image: url("../Images/organizations.jpg");
    min-height: 100%;
    opacity: 0.65;
}

.img-5{
    background-image: url("../Images/candidates.jpg");
    min-height: 100%;
    opacity: 0.65;

}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    transform: translate(-0%, -300%);
}

.caption span.border {
    background-color: darkred;
    color: #fff;
    padding: 18px;
    font-size: 80px;
    letter-spacing: 10px;
}


/*This is the code for the grid boxes*/


.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #efefef;
  padding: 20px;}

.grid-item {
  background-color: #CAEBF2;
  border: none:
  padding: 20px;
  text-align: center;}


