/*This is the css code for the body*/
body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;
}


/*menu bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 84px;
  text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

/*Nav bar hover settings*/
li a:hover {
  background-color: #FF3B3F;  
}


* {
  box-sizing: border-box;
}



/*This is the code for the text fonts and sizes*/


head {
    font-family: 'Open Sans', sans-serif;}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;}

h1 {
    color: maroon;
    font-size: 50px}

h2{ 
    font-size: 50px;
    color: maroon;
}


h3 {
    font-size: 20px}


p {
    font-size: 15px;
    color: white;
}

/*about us intro*/
.img-1, .img-2, .img-3, .img-4, .img-5 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("../Images/rallyposter.jpg");
    min-height: 100%;
}

.img-2 {
    background-image: url("../Images/black%20and%20white%20rally.png");
    min-height: 100%;
}

.img-3 {
    background-image: url("../Images/events.jpg");
    min-height: 100%;
    opacity: 0.65;
}

.img-4 {
   background-image: url("../Images/organizations.jpg");
    min-height: 100%;
    opacity: 0.65;
}

.img-5{
    background-image: url("../Images/candidates.jpg");
    min-height: 100%;
    opacity: 0.65;

}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    transform: translate(-0%, -300%);
}

.caption span.border {
    background-color: darkred;
    color: #fff;
    padding: 18px;
    font-size: 80px;
    letter-spacing: 10px;
}


/*This is the code for the grid boxes*/


.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #efefef;
  padding: 20px;}

.grid-item {
  background-color: #CAEBF2;
  border: none:
  padding: 20px;
  text-align: center;}


