/*This code applies to the whole web page*/

body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;
}


/*This code is for the Navigation Bar*/
 
 a {
    text-transform: uppercase;
    text-decoration: none;
    }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0px;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 84px;
  text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

li a:hover {
  background-color: darkred;
     
}
* {
  box-sizing: border-box;
}

/*CSS settings for individual sections*/
.main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  width: 100%; 
  display: grid;
    
  /* Define Auto Row size */
    
  grid-auto-rows: 200px; 
    
  /*Define our columns */
    
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
    background-color: #CAEBF2;
}

head {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: maroon;
    font-size: 50px}
head {
    font-family: 'Open Sans', sans-serif;}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;}