body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;}
h1, h2, h3, h4 {
    font-size: 270%;
    font-family: 'Open Sans', sans-serif;
}


 
 a {
    text-transform: uppercase;
    text-decoration: none;
     font-family: 'Open Sans', sans-serif;
    }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 84px;
  text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: darkred;  
}


* {
  box-sizing: border-box;
}
.main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 500px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}

head {
    font-family: 'Open Sans', sans-serif;
}