/*Font settings*/
body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;}
h1, h2, h3, h4 {
    font-size: 270%;
    font-family: 'Open Sans', sans-serif;
}


 
 a {
    text-transform: uppercase;
    text-decoration: none;
     font-family: 'Open Sans', sans-serif;
    }

/*Nav bar color*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 84px;
  text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

/*Nav bar hover settings*/
li a:hover {
  background-color: #FF3B3F;  
}


* {
  box-sizing: border-box;
}

/*CSS settings for individual sections*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 200px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
    background-color: #CAEBF2;
    float: left;
}

head {
    font-family: 'Open Sans', sans-serif;
}


.articles {
      max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  width: 75%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 200px; 
  /*Define our columns */
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
    background-color: #CAEBF2;
    display: grid;
    float: left;
}