body{ 
    font-size: 100%; 
    font-family: "PT Sans Caption", sans-serif;
    background-color: white;}


p {
    text-align: center;
    font-weight: none;}

a{
    color:black;
    text-transform: uppercase;
    text-decoration: none;