body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;}
h1 {
    font-size: 50px}
}


 
 a {
    text-transform: uppercase;
    text-decoration: none;
    }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0px;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 84px;
  text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
  background-color: darkred;
     
}

h2{ 
    font-size: 30px
}


h3 {
    font-size: 15px;
}

.home-page-grid-navigation {
    display: flex;
    flex-wrap: wrap;
}

.home-page-grid-block {
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    width: 100%;
    text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
}

.home-page-grid-block[date-bg=white] {
    color: #CAEBF2;
    background-color: rgba(255,255,255,.7);
}

.home-page-grid-block-inner {
    align-items: center;
    background-size: cover;
    background-position: center;
        background-position-x: center;
        background-position-y: center;
    background-repeat: no-repeat;
        background-repeat-x: no-repeat;
        backround-repeat-y: no-repeat;
    display: flex;
    min-height: 50vh;
    justify-content: center;
    padding: 1.125rem;
        padding-top: 1.125rem;
        padding-right: 1.125rem;
        padding-bottom: 1.125rem;
        padding-left: 1.125rem;
    position: relative;
    text-align: center;
    width: 100%;
    transition: transform .3s ease-in-out;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    backface-visibility: hidden;
}

.home-page-grid-block-title {
    font-size: 1.75rem;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    position: relative;
}
