body {
    background-color: #efefef;
}
* {
  box-sizing: border-box;
}

/*CSS Grid for Student Organizations*/

.main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 400px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}

head {
    font-family: 'Open Sans', sans-serif;}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;}

/* Navigation Bar Code*/

 .navpage {
    text-transform: uppercase;
    text-decoration: none;
    }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: none;
  top: 0px;
}

.navlink {
  float: left;
}


.navlink .navpage {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
    text-transform: uppercase;
}


.navlink .navpage:hover {
  background-color: darkred;     
}

ul {
    list-style-type: none;}

h1 {
    color: maroon;
    font-size: 50px
}

a {
    text-decoration: none;
    color: white;
}
/* To remove bullets*/
.nobull {
list-style-type: none;
text-decoration: none;
}
/* ND code*/
.NDD{
    background-color: rgba(128, 0, 0, 0.69);
    margin: 120px;
    padding: 30px;
}
.NDlinks {
  position: absolute; 
    right: auto;
    top: 30%;
    float:right;
    background-color:rgba(224, 22, 22, 0.36);
    color: white;
}
.NDtitle{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-20%, -10%);
}
.ND {
  position: relative;
  text-align: center;
  color: white;
}


/* SM code*/

.Sm{
position: relative;
  text-align: center;
}
.SMtitle {

  position: absolute;
  top: 8px;
  right: 16px;
    transform: translate(-50%, -10%);
    color: darkred;
}

.SMM{
    background-color: rgba(0, 167, 255, 0.36);
     margin: 120px;
    padding: 30px;

}
.SMlinks {
    padding: 130px; 
    color: aliceblue;
    text-align: justify;
        
}
/* HC code*/
.HCcampus {
     float: left; 
    vertical-align: left;
}

.HC{
    background-color: rgba(128, 0, 0, 0.69);
    width: auto;
    padding: 30px;
    align-content: left;
    margin: 120px;
 
}

.HCC {
position: relative;
  text-align: center;
}
.HClinks{
    padding: 150px; 
}
.HCtitle{
  position: absolute;
  top: 75%;
  left: 15%;
  transform: translate(-20%, -10%);
    color: white;
}
/* mouse over link */
    
a:hover {
  color: black;
}
