
/*This is the css code for the body*/

body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: #efefef;
}


/*This is the code for the Navigation bar*/

/*Nav bar color*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 84px;
  text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

/*Nav bar hover settings*/
li a:hover {
  background-color: #FF3B3F;  
}


* {
  box-sizing: border-box;
}

/*This is the code for the text fonts and sizes*/


head {
    font-family: 'Open Sans', sans-serif;}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;}

h1 {
    color: maroon;
    font-size: 50px}

h2{ 
    font-size: 30px}


h3 {
    font-size: 20px}


p {
    font-size: 15px}

p1 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p2 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p3 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p4 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p5 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p6 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p7 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p8 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p9 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p10 {
    color: white;
    background-color: cadetblue;
    font-size: 20px}

p11 {
    color:maroon;
    font-size: 22px
}















