
/* This is the code for the backgrounf color */

body {
  background-color: mistyrose;
}

/*This is the code for the color of font*/
h1 {
  color: maroon;
  margin-left: 20px;
}

/*font code*/
h1 {
  font-family: "Open Sans";
}

h1 {
  border: 5px solid black;
  outline-style: solid;
  outline-color: white;
}