* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5c5c5c;
    background-color: #04254e;
}
a {
    color: #5c5c5c;
    text-decoration: none;
}

p {
    /* font-size: 12px; */
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

h1 {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #bc4198;
    font-weight: 400;
}

img {
    max-width: 100%;
}
