body{ 
    font-size: 100%; 
    font-family: "PT Sans Caption", sans-serif;
    background-color: #EFEFEF;
    color: #67696f;
    width:"960px";
    margin:"auto";
    position: relative
}

.Menu-Bar {
    padding: inherit;
    border: hidden;
    padding: 10px;
}

.content {
   overflow: auto;
}

p.scroll {
    margin-top: 100px
}
p {
    text-align: center;
    font-weight: none;
}

a{
    color:#FF3B3F;
    text-transform: uppercase;
    text-decoration: none;
}

.input-box {
    float: center
}

.input-box-title {
    float: center

h1.webtitle {
    color: white;
}
    

